h3 {
  font-family: $PT-Mono;
  font-size: $xx-large;
  font-style: $regular;
}

p {
  font-family: $PT-Mono;
  font-size: $medium;
  font-style: $light;
}

h2 {
  font-family: $PT-Mono;
  font-size: $x-large;
  font-style: $regular;
}
